@page {
	size: 8.5in 11in;
	margin-left: 1.5in;
	margin-right: 1.5in;
	margin-top: 0.5in;
	margin-bottom: 1in;
}

body {
	font-size: 12px;
	line-height: 115%;
	font-family: "Century Schoolbook";
	max-width: 5.5in;
}

#front_matter {
	font-weight: bold;
	border-bottom: solid 1px;
}

h1 {
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: underline;
}

div.page {
	page-break-after: always;
}

.no-print {
	display: none;
}

.flakes-frame .flakes-content .flakes-mobile-top-bar {
	border-bottom-width: 0;
}
