{% extends 'base.html' %}

{% block content %}
{% if errors %}
{{errors}}
{% endif %}
<div="error-div">
</div>
<fieldset><legend>Legal Sufficiency</legend><form id="form" method="POST">
{% csrf_token %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script> 
{{ form.media }}
{{ form.as_p }}
<button id="submit" type="submit" class="button-green">Submit</button>
</form>
</fieldset>

<!-- <button id="preview" type="button" class="btn btn-info">Preview Sufficiency</button> -->
{% endblock %}

{% block extra_js %}
<script>
$( document ).ready(function() {
    $("#id_amendment_number").hide()
    $('label[for="id_amendment_number"]').hide();
});


$('#id_amendment').change(function(){
    $('#id_amendment_number').toggle(this.checked);
    $('label[for="id_amendment_number"]').toggle(this.checked);
});
</script>
{% endblock %}