{% extends 'base.html' %}
{% load staticfiles %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'bower_components/datatables/media/css/jquery.dataTables.min.css' %}"/>
{% endblock %}

{% block content %}
<h1>Legal Sufficiencies</h1>
{% if user.is_staff %}
<div class="grid-2 gutter-80">
    <div class="span-1"><h2>Draft</h2>
    <table id="draft" class="flakes-table">
    <thead>
    <tr><td>Measure</td><td>Short Title</td><td>Requesting Member</td></tr>
    </thead>
    <tbody>
    {% for suff in draft %}
        <tr><td><a href="{{suff.get_absolute_url}}">{{suff.measure_type}}{{suff.measure_number}}</a></td><td>{{suff.short_title}}</td><td>{{suff.get_office_display}}</td></tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
    <div class="span-1"><h2>Pending Review</h2>
    <table id="pending" class="flakes-table">
    <thead>
    <tr><td>Measure</td><td>Short Title</td><td>Requesting Member</td></tr>
    </thead>
    <tbody>
    {% for suff in pending %}
        <tr><td><a href="{{suff.get_absolute_url}}">{{suff.measure_type}}{{suff.measure_number}}</a></td><td>{{suff.short_title}}</td><td>{{suff.get_office_display}}</td></tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
</div>
{% else %}
<p>Under the Council Rules, a written legal sufficiency determination must be prepared by the General Counsel for any measure approved by a Council committee, emergency measures, and amendments offered to bills on final reading. Below are the 5 most recent legal sufficiency determinations approved by the General Counsel. <a href="/view">Click here to see a complete list</a>.</p>
<div class="grid-1">
    <div class="span-1"><h2>Approved Legal Sufficiencies <a href="/rss"><img src="{% static 'img/feed-icon-28x28.png' %}"></a></h2>
    <table id="approved" class="flakes-table">
    <thead>
    <tr><td>Measure</td><td>Short Title</td><td>Requesting Member</td></tr>
    </thead>
    <tbody>
    {% for suff in final %}
        <tr><td><a href="{{suff.get_public_url}}">{{suff.measure_type}}{{suff.measure_number}}</a></td><td>{{suff.short_title}}</td><td>{{suff.get_office_display}}</td></tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
</div>
{% endif %}

{% endblock %}
{% block extra_js %}
<script src="{% static 'bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
<script>
$(document).ready(function(){
    $('#draft').DataTable({'order':[[0,'asc'],[1,'asc']]);
    $('#pending').DataTable({'order':[[0,'asc'],[1,'asc']]);
    $('#approved').DataTable({'order':[[0,'asc'],[1,'asc']]);
});
</script>
{% endblock %}