{% extends 'base.html' %}
{% load staticfiles %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/print.css' %}" type="text/css" media="print" />
<style type="text/css">

div.header {
    display: block;
    margin: 0 auto;
    text-align: center;
}

#front_matter {
    font-weight: bold;
    border-bottom: solid 1px;
}

</style>
{% endblock %}
{% block content %}
<div class="header"><img src="https://legalsuff.herokuapp.com/static/img/dcseal.jpg" style="max-height:1in;"></div>
{% if perms.app.legal_sufficiency_can_publish %}
<style>
@media screen {
    div#sig {
        display: none;
    }
}
</style>
<div id="sig">
<img src="{{stamp_url}}" style="position:absolute; top:2in; left:3.5in; width:1.5in">
</div>
{% endif %}
<h1>Memorandum</h1>
<div id="front_matter">
<p>TO: {{sufficiency.get_office_display}}</p>
<p>FROM: V. David Zvenyach, General Counsel</p>
<p>DATE: {{sufficiency.publish_date|date:"F d, Y"}}</p>
<p>RE: Legal Sufficiency Determination for {{sufficiency.get_title}}.</p>
</div>

{{sufficiency.content|safe}}

</div>
{% endblock %}

{% block extra_js %}

{% endblock %}